* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header_warp {
  background: white;
  position: fixed;
  width: 100%;
}

.contact-header {
  width: 100%;
  position: relative;
  background: #ffffff;
  align-items: center;
  justify-content: center;
}
.contact-header__container {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-header__list {
  list-style: none;
}
.contact-header__list li {
  display: inline-block;
  padding: 10px 0 12px;
  margin: 0 16px;
  font-size: 1.2rem;
  border-top: 4px solid transparent;
}
.contact-header__list li a {
  color: #888;
  text-decoration: none;
}

.header-banner {
  font-family: FuturaPT, sans-serif;
  color: #000;
  font-size: 1.5rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  line-height: 1.5rem;
  padding: 0.7rem 0;
}

.navbar-contact {
  position: relative;
  background: #ffffff;
}
.navbar-contact__container {
  width: 100%;
  display: flex;
}
.navbar-contact__container .navbar-menu-toggle {
  margin: 1rem 5rem 0 2rem;
  width: 5%;
  align-items: center;
  justify-content: center;
}
.navbar-contact__container .navbar-menu-toggle .fas {
  list-style: none;
  text-decoration: none;
  margin: 5rem;
  color: #888;
}
.navbar-contact__container .navbar-contact__list {
  list-style: none;
  position: relative;
  margin: 1rem 5rem;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-contact__container .navbar-contact__list li {
  position: relative;
  margin: 0 2rem;
  align-items: center;
  justify-content: center;
}
.navbar-contact__container .navbar-contact__list li a {
  color: #666666;
  list-style: none;
  text-decoration: none;
}
.navbar-contact__container .navbar-search-toggle {
  position: relative;
  margin-top: 2rem;
  width: 10%;
  align-items: center;
  justify-content: center;
}
.navbar-contact__container .navbar-search-toggle a {
  align-items: center;
  justify-content: center;
}
.navbar-contact__container .navbar-search-toggle a .fas {
  list-style: none;
  text-decoration: none;
  color: #888;
}

.menu-collection {
  width: 100%;
  box-sizing: border-box;
}
.menu-collection .large-menu-item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.menu-collection .large-menu-item .item {
  display: flex;
}
.menu-collection .middle-menu-item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.menu-collection .middle-menu-item .item {
  width: 45%;
  margin: 1.5rem;
}
.menu-collection .menu-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-collection .menu-item .item {
  margin: 5rem;
  width: auto;
  background-color: #f9f9f9;
}

.container {
  width: 100%;
  position: relative;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
